.about_section {
    background-color: #F8F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 72px;
}

.content {
    max-width: 1128px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(../img/about_bg.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.about_section .h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    /*    line-height: 109px;*/
    color: #1F1F1F;
    margin: 0;
}

.about_section .h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 54.44px;
    color: #1F1F1F;
    margin: 0;
}

.content .text_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px 0 0;
    width: 552px;
}

.about_section p.text {
    margin: 0 0 18px;
    font-weight: normal;
    font-size: 24px;
    line-height: 156.19%;
    color: #000000;
}

.about_section p.text:last-of-type {
    margin: 0;
}

.about_section h3.h3 {
    font-weight: 800;
    margin: 0 0 18px;
}

.about_section img {
    margin: 18px 0 0;
}

@media all and (max-width:1024px) {
    .content {
        max-width: 100%;
        padding: 0 0 0 68px;
        background-position: 31% 50%;
    }

    .content .text_box {
        width: 452px;
    }

    .about_section {
        padding: 40px 0 66px;
    }
}

@media all and (max-width:600px) {
    .about_section {
        padding: 40px 0;
    }

    .content {
        max-width: 100%;
        padding: 0 20px;
        background-position: 43% 50%;
    }

    .content .text_box {
        width: 335px;
        margin: 20px 0 0;
    }

    .about_section .h1 {
        font-size: 60px;
    }

    .about_section .h2 {
        font-size: 24px;
        line-height: 32.66px;
    }

    .about_section p.text,
    .about_section h3.h3 {
        font-size: 18px;
        margin: 0 0 15px;
    }
}
